# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/
# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
tsconfig.tsbuildinfo
./dist
dist
dist/
# prisma/migrations/migration_lock.toml
prisma/migrations/
# prisma/migrations/20260523115344_first_migrate/migration.sql
